.fancy-tiles{
  overflow:hidden;
  margin-bottom:3em;
  ul{
    width:100%;
    float:left;
  }
  .footer{
    width:30%;
    //display:block;
    float:left;
    border-bottom:2px dotted #777777;
    padding-top:3em;
    @include clearfix();

  }
  h2{
    text-transform:uppercase;
    @include get-fonts(1.25,0.5,0);
    font-weight:normal;
    padding-top:0.5em;
    padding-bottom:1.5em;

  }
  .fancy-tile {
    padding-top:0em;
    padding-bottom:0.3em;

    //Timo K special hack
  	//width:23.8%;
  	@include span-columns(2,12);
  	@include nth-omega(6n);
  	position:relative;
  	float:left;
  	overflow:hidden;	

    img{
      opacity: 1;
      -webkit-transform: scale(1,1);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 250ms;
      -moz-transform: scale(1,1);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 250ms;
    } 
    img:hover{
      opacity: .7;
      -webkit-transform: scale(1.07,1.07);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 250ms;
      -moz-transform: scale(1.07,1.07);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 250ms;
      //position: relative;
      //z-index: 99;
    }   
    img {
      width:100%;
    }
  }
}

@media #{$tablet-portrait} {

  .fancy-tiles{
    .fancy-tile{
      //Timo K special hack
      @include span-columns(3,12);
      @include remove-nth-omega(6n);
      @include nth-omega(4n);
    	
    }
  }

}

@media #{$mobile-portrait} {

  .fancy-tiles{
    .fancy-tile{
      //Timo K special hack
      @include span-columns(6,12);
      @include remove-nth-omega(4n);
      @include nth-omega(2n);
    	background:none;
    	padding-bottom:1em;
    }
  }

}
