.section-header {
  .copy{
    padding-top:3em;
    //padding-bottom:1em;
    width:45%;
    float:left;
    //padding-left:10em;
    // padding-right:10em;
  }
  a{
    text-decoration:none;
    h1{
      @include get-fonts(3.5,0.5,0);
      font-family: $font-cursive;
      margin-bottom:0;
      margin-top:0.5em;
      color:$font-turquose;
      font-weight:normal;

    }
  }
  p{
    @include get-fonts(1.3,0.5,0);
    color:$font-dark;
    text-transform:uppercase;
    border-bottom:2px dotted #777777;
    padding-bottom:1.5em;

  }

  }
  .visual{
    width:55%;
    float:right;
    position:relative;
    img{
      position:absolute;
      //right:0;
      left:3em;
      top:4em;
      //bottom:20px;
    //width:25%;
    //float:left;
    //padding-right:2em;
    //padding-bottom:1em;
    //padding-top:0em;
    //margin-bottom:6em;
    //opacity:0.8;
    //filter:alpha(opacity=80); /* For IE8 and earlier */
  }  
}

@media #{$tablet-portrait} {
  .section-header {
    .copy{
      width:60%;
      h1{
        @include get-fonts(3,0.5,0);
      }
      p{
        @include get-fonts(1,0.5,0);
      } 
    }
    .visual{
      width:40%;
      float:right;
      img{
        left:0.5em;
      }
    }
  }   
}

@media #{$mobile-portrait} {
  .section-header {
    .copy{
      width:100%;
      h1{
        @include get-fonts(3,0.5,0);
      }
      p{
        @include get-fonts(1.3,0.5,0);
      } 
    }
    .visual{
      display:none;
    }
  } 

}

