---
title: "Frontpage"
description: "Prototype with components - "
section_title: "Kaisa Koponen"
section_text: "Graphic & Web Designer"
section_image: "images/kaisa.jpg"
section_color2: "orange-bg"

  
 
#= YAML.load(File.read("#{File.basename(__FILE__,'.haml')}.yml"))
---
=partial('components/site-elements/header', :locals => {:selected => "About Me"})
.section
  .person-intro
    
    %p 
      %strong So nice of you to drop by! 
      I’m a digital designer born and bred in Helsinki, Finland. Right now I’m looking for something new and interesting to work with. If you know what that could be, please let me know too!
    %p I’ve been working in the digital design industry for the past 8 years, most of it in advertising. My skills and interests include graphic design, concept design, usability, illustration, animation, social media and pretty much everything else on that field.
    %p If you like my work, please drop me a note or find out more about me:
    %p
      %strong kaisa.koponen@gmail.com
      %br
      %a{:href=>"http://www.linkedin.com/in/kaisakoponen", :target=>"_blank"}
        www.linkedin.com/in/kaisakoponen


