---
title: "Kaisa Koponen - Work"
description: "Prototype with components - "
section_title: "Kaisa Koponen"
section_text: "Graphic & Web Designer"
section_color2: "orange-bg"

fancy_tiles_webdesign:
  title: "Web Design"
  group: "web design"
  tiles:
    -
     fancy_tile:
       img: "images/work/thumbs/perfecto.png"
       link: "images/work/perfecto_etusivu.jpg"
       title: "Layout for internal client's website, made in SEK Point according to SEK visual guidelines."

    -
     fancy_tile:
       img: "images/work/thumbs/voitto.png"
       link: "images/work/voitto_etusivu_pieni.jpg"
       title: "Layout proposal for client's website, designed in SEK Point in collaboration with another designer."

    -
     fancy_tile:
       img: "images/work/thumbs/halari.png"
       link: "images/work/halari_etusivu.jpg"
       title: "Website for Finnish Emergency Responce Centre's web magazine. Made in SEK Point. "

    -
     fancy_tile:
       img: "images/work/thumbs/paulig.png"
       link: "images/work/presidentti_kattauspalvelu_etusivu.jpg"
       title: "Site for Paulig Presidentti coffee brand's place setting idea campaign. Designed in collaboration with AD in SEK Point."
    -
     fancy_tile:
       img: "images/work/thumbs/samsung.png"
       link: "images/work/samsung.jpg"
       title: "Website for Samsung's Red Ribbon campaign in Finland. Made in Publicis Helsinki. "

    -
     fancy_tile:
       img: "images/work/thumbs/acomplia.png"
       link: "images/work/acomplia.jpg"
       title: "Website for a weight loss medicine. Made in Publicis Helsinki."
    -
     fancy_tile:
       img: "images/work/thumbs/wursti.png"
       link: "images/work/wursti.jpg"
       title: "Website for a meat product company. Made in Publicis Helsinki."
    -
     fancy_tile:
       img: "images/work/thumbs/sek.png"
       link: "images/work/sekfi_etusivu_iso.jpg"
       title: "Layout proposal for company website, not selected. Made in SEK Point. "
    -
     fancy_tile:
       img: "images/work/thumbs/iqua.png"
       link: "images/work/iqua.jpg"
       title: "Layout proposal for a company that sells Bluetooth devices and other mobile phone accessories."       
    -
     fancy_tile:
       img: "images/work/thumbs/huutonet.png"
       link: "images/work/huutonet.jpg"
       title: "Layout proposal for Finnish auction site."       
fancy_tiles_illustrations:
  title: "Illustrations"
  group: "illustrations"
  tiles:
    -
     fancy_tile:
       img: "images/work/thumbs/kala.png"
       link: "images/work/kala5.png"
       title: "Illustration, personal work"

    -
     fancy_tile:
       img: "images/work/thumbs/habbo.png"
       link: "images/work/HABBO.gif"
       title: "Illustration for a Habbo Hotel campaign for Aurinkomatkat. Made in Publicis Helsinki."
    -
     fancy_tile:
       img: "images/work/thumbs/frontline.png"
       link: "images/work/frontline_logo.gif"
       title: "A logo for a photo product company. Made as a freelancer."

    -
     fancy_tile:
       img: "images/work/thumbs/summer.png"
       link: "images/work/kuvitus.gif"
       title: "Illustration for a summer party invitation. Made in SEK Point."
    -
     fancy_tile:
       img: "images/work/thumbs/horoskooppi.png"
       link: "images/work/visualradio.gif"
       title: "Illustrations for Visual Radio mobile application. Made in SBS Finland."

fancy_tiles_flash:
  title: "flash"
  tiles:
    -
     fancy_tile:
       img: "images/work/thumbs/alko.png"
       link: "#alko"
       title: "Banner campaign for Alko."
    -
     fancy_tile:
       img: "images/work/thumbs/fonecta.png"
       link: "#fonecta"
       title: "Banner campaign for Fonecta."
    -
     fancy_tile:
       img: "images/work/thumbs/opel.png"
       link: "#opel"
       title: "Banner ad for Opel Mokka."       
    -
     fancy_tile:
       img: "images/work/thumbs/lidl.png"
       link: "#lidl"
       title: "Banner ad for Lidl's own pizza brand."       
    -
     fancy_tile:
       img: "images/work/thumbs/oltermanni.png"
       link: "#oltermanni"
       title: "Click banner for Valio's cheese brand Oltermanni."
#= YAML.load(File.read("#{File.basename(__FILE__,'.haml')}.yml"))
---
=partial('components/site-elements/header', :locals => {:selected => "Work"})
=partial('components/fancy-tile/fancy-tile', :locals => {:fancy_tiles => data.page.fancy_tiles_webdesign})
=partial('components/fancy-tile/fancy-tile', :locals => {:fancy_tiles => data.page.fancy_tiles_illustrations})
=partial('components/fancy-tile/fancy-tile', :locals => {:fancy_tiles => data.page.fancy_tiles_flash})
#alko{:style=>"display:none"}
  =partial('components/flash-fragments/alko')
#fonecta{:style=>"display:none"}
  =partial('components/flash-fragments/fonecta')
#opel{:style=>"display:none"}
  =partial('components/flash-fragments/opel')  
#lidl{:style=>"display:none"}
  =partial('components/flash-fragments/lidl')   
#oltermanni{:style=>"display:none"}
  =partial('components/flash-fragments/oltermanni')    